html{font-size: 16px}

*{padding: 0;margin: 0}
ul{list-style: none}
.inner{width:1100px; margin: 0 auto}
a{text-decoration: none; color: #000}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color:#fff;
    z-index: 1000;
    height: 100px;
   ;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:160px;

}



.logo{width: 10%;float: left; line-height: 120px;padding: 1.5% 0  0 3%}
.logo>a>img{width: 100%}

.dv{width: 290px;
    height: 80%;
    color: #fff;
    padding-top: 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    background-color: #223f85;
    border-radius: 0 0 1280px 1280px;
    cursor: pointer;top: -40%;;transition: all 0.6s}

.dv>p{padding-top: 30%;z-index: 666;transition: all 0.3s; font-weight: bold; font-size: 2rem}

.dv:hover{transform: translate(0, 50px);transition: all 0.3s;box-shadow: 0px 0px 50px rgba(6,24,177,0.5)}


.header_ba{width: 290px;
    color: #fff;
    padding-top: 0px;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    background-color: #223f85;
    border-radius: 0 0 1280px 1280px;
    cursor: pointer;top: -10%;transform: translate(0, -40px)
;z-index: 666;transition: all 0.3s}
.header_ba:hover{transform: translate(0, 0px);transition: all 0.3s;box-shadow: 0px 0px 50px rgba(6,24,177,0.5)}



#main{width: 100%;height: 800px; background-color: #d3e5ff;padding-top: 15%}
.main_text>h1{ width: 63%; font-size: 2rem;padding-bottom: 5%}
.main_text{float: left;width: 70%; padding-bottom: 10%}
.main_text>P{font-size: 1.5rem; font-weight: bold}
.SUPPOT{float: right;width: 20%; height: 60px;border:1px solid #000;border-radius: 50px;line-height: 60px;text-align: center;font-size: 1.5rem; font-weight: bold;transition:all 0.1s}
.SUPPOT:hover{background-color: cornflowerblue;color: white;transition:all 0.1s}
.SUPPOT>span{margin-left: 8%}
.main_text>p>span{width: 1%; height: 27px;background-color: red;display: block;float: left;margin-right: 5px;margin-top: 5px;border-radius: 50px}





.tab{ border-left:none;; overflow:hidden;width: 100%;margin: 0 auto}
.tab>li{ float:left; width:23%; border-left:0px solid #ddd; text-align:center; box-sizing:border-box;margin-right: 2.6%;border-bottom:5px solid #000 }
.tab>li{ display:inline-block; padding:20px; cursor:pointer;font-size: 1.8rem; font-weight: bold } 
.tab li.on{ border-bottom:5px solid #3f5eff; color:#3f5eff ;transition: all 0.3s }
.tab_con{ clear:both; margin-top:15px; border:0px solid #ddd; }
.tab_con>div {width: 100%; display:none; height:350px;;  line-height:100px}
.tab_con>div>p{font-size: 1.1rem;font-weight: bold}
.tab_con>div>p>span{width: 10px;height: 10px;background: #3f5eff;float: left;margin:43px 20px;border-radius: 50px}
.tab>li>i>img{width: 20%;float: left}
.tab>li:nth-child(4){margin-right: 0}

.tab_con_inner{width: 100%}

.tab_con_inner>a>div{float: left;width: 31%;height: 250px;margin-right:3.5%; }
.tab_con_inner>a:nth-child(3)>div{margin-right: 0;float: right}
.tab_con_inner>a:nth-child(3)>div:focus{}
.tab_con_inner>a>div>i>img{width: 100%;border-radius: 30px;height: 200px;transition: all 0.2s}
.tab_con_inner>a>div:hover i>img{transform: scale(1.1);transition: all 0.2s}
.tab_con_inner>a>div:hover p{color: darkorange;transition: all 0.2s}
.tab_con_inner>a>div>p{line-height: 150%;transition: all 0.2s; font-weight: 800}
.tab_con_inner>a>div>p>span{width: 10px;height: 10px;background: #3f5eff;float: left;margin:6px 10px 50px 0px;border-radius: 50px}


#contents{width: 100%; background-color: white;margin: 10% auto 0}
.contents_txet{width: 90%; height: 100px;line-height: 38px; margin: 0 auto}
.contents_txet>.inner>h1{float: left; width: 20%; font-size: 1.8rem}
.site{float: left;width:20%}
.site>li>select{width: 90%; height: 38px;; background-color: #fff; color: #6e6e6e; font-weight: bold;border-radius: 7px;margin: 0 auto;}
.contents_txet>.inner>div{width:45%;float: right;position: relative}
.contents_txet>.inner>div>a:nth-child(2){float: left;height: 38px;width: 55%;border: solid 1px #000;border-radius: 7px;padding-left: 10px;position: absolute;left: 0; right: 10px;margin: 0 auto;}
.contents_txet>.inner>div>a:nth-child(2)>div>input{border-style: none;outline: none;font-size: .8rem;width: 100%}

.contents_txet>.inner>div>a:nth-child(3){float:right;height: 38px;width: 20%;border: solid 1px #000;border-radius: 7px;text-align: center;color: #fff;background-color: #000}
.contents_txet>.inner>div>a:nth-child(3)>div>button{font-weight: bold;color: white;outline: none;background: none;border: 0}


.contents_list{width: 80%; margin: 0 auto;height: 2300px}
.serve_box{float: left;width: 30%;height: 500px;border-radius: 50px; overflow: hidden;margin-right: 4.58%;margin-bottom: 5%;border: 0.5px solid #ebebeb;transition: all 0.2S }
.serve_box>a>div{width: 100%;height: 50%;margin: 0 auto;overflow: hidden;position: relative}
.serve_box>a>div>img{width: 100%;position: absolute;top: -10%;transition: all 0.2S}
.serve_box:nth-child(1)>a>div>img{top: -30%}
.serve_box:nth-child(3){margin-right: 0}
.serve_box:nth-child(6){margin-right: 0}
.serve_box:nth-child(9){margin-right: 0}
.serve_box:nth-child(12){margin-right: 0}

.serve_box>a>h2{font-size: 1.7rem;padding-top: 20%;padding-left: 5%}
.serve_box>a>p{;padding-left: 5%;padding-top: 7%;font-size: 1.3rem}

.serve_box:hover{box-shadow: 0px 0px 30px rgba(6,24,177,0.5);transition: all 0.2S}

.serve_box:hover div>img{transform: scale(1.2);transition: all 0.2S}

.serve_box:after{display: block; content: ""; clear: both}
.footer_left{width: 70%}



@media(max-width:1200px){
    .inner{width: 80%}
    .header_ba{width: 20%;left: 0;right: 0;margin: 0 auto;height:100%;transform: translate(0, -30px);padding-top: 50px;padding-bottom: 10px;font-size: 1.7rem}
    .tab>li{width: 49%;float: left;padding: 0;margin-right: 2%;margin-bottom: 5%}
    .tab>li:nth-child(2){margin-right: 0}
    .tab>li:nth-child(4){margin-right: 0}
    #main{height: 1200px}
    .main_text{width: 100%; font-size: 1.5rem}
    .SUPPOT{height: auto;width: 100%;margin-bottom: 7%;transition: all 0.1s}
    .SUPPOT:hover{background-color: cornflowerblue;color: white;transition:all 0.1s}
    .tab_con>div{height: auto}
    .tab_con_inner>a>div{height: auto}
    .contents_txet>.inner{width: 90%}
    .contents_txet>.inner>h1{float: none}
    .contents_txet>.inner>div{float: none;margin: 6% auto;width: 50%}
    .contents_txet>.inner>div>a:nth-child(2){width: 54%}
    .contents_txet{height: auto;margin:20% auto }
    .contents_txet>.inner>h1{width: 100%;text-align: center}
    
    .contents_list{width: 100%;height:4500px}
    .serve_box{width: 47%;margin-right: 6%;border: 0px solid #ebebeb;height:700px }
    .serve_box:nth-child(3){margin-right:6%}
    .serve_box:nth-child(6){margin-right:6%}
    .serve_box:nth-child(9){margin-right:6%}
    .serve_box:nth-child(12){margin-right:6%}
    .serve_box:nth-child(2){margin-right: 0}
    .serve_box:nth-child(4){margin-right: 0}
    .serve_box:nth-child(6){margin-right: 0}
    .serve_box:nth-child(8){margin-right: 0}
    .serve_box:nth-child(10){margin-right: 0}
    .serve_box:nth-child(12){margin-right: 0} 
    
     
}


@media(max-width:860px){
    .contents_txet>.inner>div{width: 100%}
    .serve_box{height: 500px}
    .contents_list{height: 3200px}
    .contents_txet>.inner>div{width: 100%;position: relative}
    .contents_txet>.inner>div>a:nth-child(2){;width: 50%;float: none;height: auto;position: absolute;left: 0;right: 0;margin: 0 auto}
    .serve_box>a>h2{font-size: 1.3rem}
    .serve_box>a>p{font-size: 1rem}
    
    .footer_left{width: 95%;border-radius: 30px;margin: 5% auto 0;height: 50px}
    .footer_logo{line-height: revert;padding-top: 1%}
    .footer_logo>img{width: 80%}
    .copyright>ul{font-size: .6rem;padding-top: 7%;display: none}
    .copyright>p{font-size: 1px;padding-top: 5%}
    .footer_right{width: 50%}
    .footer_sns{width: 100%}
    .footer_Search{width: 45%;margin-top: 15%;display: none}
    .footer_Search>div{height: 20px}
    .footer_Search>div>i{height: 15px;top: 2.5px;left: 2.5px}
    .footer_Search>div>i>img{width: 10%}
    .footer_Search>i{top: 5%}
    
}


@media(max-width:760px){
    .logo{width: 15%;padding: 0}
    #main{height: 1700px}
   .tab_con_inner>a>div{float: none;width: 100%;height: 300%}
    .header_ba{font-size: 1.3rem}
    .menu>a>div:nth-child(1){display: none}
    .menu>a>div:nth-child(2){float: right}
    .tab_con>div>p{line-height: 140%;padding-bottom: 10%}
    .tab_con>div>p>span{margin: 1% 10px 30% 0px}
    .main_text>p>span{margin-bottom: 20%}
    .header_ba{width: 30%}
    
    #contents{margin: 30% auto}
    .contents_list{height: 2400px}
    .serve_box{height: 400px}
    
    
}
    
    

@media(max-width:651px){
    
    #main{padding-top: 40%}
   
    .tab>li{width: 45%;float: left;padding: 0;margin-right: 10%;margin-bottom: 5%;font-size: 1.3rem}
    .header_ba{width: 50%;padding-bottom: 0; }
    .main_text>h1{width: 100%}
    .main_text>P{font-size: 1rem}
   
     
} 


@media(max-width:451px){
    #contents{margin: 40% auto}
    .contents_list{height: 5500px}
    .serve_box{height: 400px;border-radius: 20px;margin-bottom: 20%;width: 100%;margin-right: 0;border:0.5px solid #ddd}
    .serve_box>a>h2{padding-top: 10%;font-size: 1.8rem}
    .serve_box>a>P{font-size: 1.5rem}
    .serve_box:nth-child(3){margin-right:0%}
    .serve_box:nth-child(6){margin-right:0%}
    .serve_box:nth-child(9){margin-right:0%} 
    .serve_box:nth-child(12){margin-right:0%}
    .serve_box>a>div>img{top: -20%}
     
}  


@media(max-width:341px){
    .header_ba{width: 50%;padding-bottom: 0}
    .logo{width: 20%}
    .header_ba{width: 30%;font-size: .8rem ;padding-top: 0;line-height: 800%}
    #main{height: 1700px}
    
    .main_text>p>span{height: 10px}
    .SUPPOT{margin-bottom: 20%}
    .tab_con_inner>a>div{margin-bottom: 20%}
    .tab_con>div>p{padding-bottom: 25%}
    .tab_con_inner>a>div>p>span{margin: 6px 10px 70px 0px;}
    
    .serve_box>a>P{font-size: 1rem;padding-top: 20%}
    .serve_box:nth-child(1){margin-top: 15%}
    
    .contents_txet>.inner>div>a:nth-child(2)>div>p{font-size: .8rem}
    
}
   